<!DOCTYPE html>
<html>
<head>
  {{>headerLinks}}
</head>
<body>
  {{>navbar}}
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-mid-10 col-12 mx-auto">
          <div class="row">
            <!-- left container -->
            <div class="col-md-6 col-12 main_header_left align-items-center">
              <figure>
                <img src="images/gettyimages-1692871520-2048x2048.jpg" alt="Admin" class="img-fluid" tittle="Meeeeeeh">
              </figure>
              <p>Welcome to weather app</p>
            <h1>{{errorMsg}}</h1>
            <a href="/"><button>Go home</button></a>
            </div>
            
            <!-- right container -->
            
          </div>

      </div>
    </div>
  </div>
  {{>footer}}
</body>
</html>