<!DOCTYPE html>
<html>
<head>
  {{>headerLinks}}
</head>
<body>
  {{>navbar}}
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-mid-10 col-12 mx-auto">
          <div class="row">
            <!-- left container -->
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img src="images/gettyimages-1692871520-2048x2048.jpg" alt="Admin" class="img-fluid" tittle="Meeeeeeh">
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
            <h1>I am a<span class="txt-clr">MERN STACK</span> developer</h1>
            <a href=""><button>About Me</button></a>
            </div>
            
            <!-- right container -->
            
          </div>

      </div>
    </div>
  </div>
  {{>footer}}
</body>
</html>